name: Build release

on:
  release:
    types: [created]

jobs:
    build:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout
          uses: actions/checkout@v6-beta
        - name: Install dependencies
          run: |
            sudo apt update
            sudo apt install gnome-devel valac libgee-0.8-dev libwebkitgtk-6.0-dev libgirepository-2.0-dev
        - name: Meson build
          uses: BSFishy/meson-build@v1.0.3
          with:
            action: build
            directory: build
            meson-version: 1.7.2
            ninja-version: 1.12.1
        - name: Create zip
          run: |
            mkdir bin
            mkdir plugins
            mv build/platinum-gtk bin/platinum-gtk
            zip -r ${{ vars.ARTIFACT_NAME }}.zip bin pages plugins
        - name: Attach to release
          uses: actions/upload-release-asset@v1.0.2
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with: 
            upload_url: ${{ github.event.release.upload_url }}
            asset_path: ${{ vars.ARTIFACT_NAME }}@${{ github.event.release.tag_name }}.zip
            asset_name: ${{ vars.ARTIFACT_NAME }}@${{ github.event.release.tag_name }}.zip
            asset_content_type: application/zip


