name: Build and upload artifact

on:
    release:
        types: [created]

jobs:
    compile:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6-beta

            - name: Meson build
              uses: BSFishy/meson-build@v1.0.3
              with:
                action: build
                directory: build
                meson-version: 1.7.2
                ninja-version: 1.12.1
            - name: Create zip
              run: zip -r ${{ vars.ARTIFACT_NAME }}.zip bin pages
            - name: Attach to release
              uses: actions/upload-release-asset@v1.0.2
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with: 
                upload_url: ${{ github.event.release.upload_url }}
                asset_path: ${{ vars.ARTIFACT_NAME }}.zip
                asset_name: ${{ vars.ARTIFACT_NAME }}.zip
                asset_content_type: application/zip

